@(tweets: List[Tweet], matchEvent: Match, measures: List[String])

	@main(matchEvent.toString) {



		<script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
		<script type='text/javascript' src='@routes.Assets.at("scripts/cartodb.js")'></script>
		<div id="cartomap"></div>


		<div class="container">
			<p></p>

			<ul class="nav nav-tabs pending" id="myTab">
				<li class="active"><a href="#positives">Top Positives</a></li>
				<li><a href="#negatives">Top Negatives</a></li>
				<li><a href="#info">Match info</a></li>
				<li><a href="#tab-piechart">Overall sentiment</a></li>
				<li><a href="#tab-linechart">Sentiment changes</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="positives">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>User</th>
								<th>Time</th>
								<th>Text</th>
								<th>Valence</th>
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
				<div class="tab-pane" id="negatives">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>User</th>
								<th>Time</th>
								<th>Text</th>
								<th>Valence</th>
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
				<div class="tab-pane" id="info">
					<pre>
					@matchEvent.info
					</pre>
				</div>
				<div class="tab-pane" id="tab-piechart">
					<div id="piechart" class="chart"></div>
				</div>
				<div class="tab-pane" id="tab-linechart">
					<div id="linechart" class="chart"></div>
				</div>
			</div>

			<h3>Geodata</h3>
			<ul class="nav nav-tabs" id="geodataList">
				<li class="active"><a href="#country">Country</a></li>
				<li><a href="#state">State</a></li>
				<li><a href="#county">County</a></li>
				<li><a href="#city">City</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="country">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Country</th>
								<th class="right">Count</th>
								<th class="right">%</th>
								<th class="right">Sentiment</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div class="tab-pane" id="state">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>State</th>
								<th>Count</th>
								<th class="right">%</th>
								<th class="right">Sentiment</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div class="tab-pane" id="county">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>County</th>
								<th>Count</th>
								<th class="right">%</th>
								<th class="right">Sentiment</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div class="tab-pane" id="city">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>City</th>
								<th>Count</th>
								<th class="right">%</th>
								<th class="right">Sentiment</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>

			<h3>Measures</h3>
			<ul class="nav nav-tabs" id="measures">
			@for(measure <- measures) {
				<li class="@{
					if(measures.indexOf(measure) == 0) "active" else ""
				}"><a href="#@measure">@measure</a></li>
			}
			</ul>

			<div class="tab-content">
			@for(measure <- measures) {
				<div class="tab-pane @{
					if(measures.indexOf(measure) == 0) "active" else ""
				}" id="@measure">
					<table class="table table-hover">
						<thead><tr>
							<th>User Id</th>
							<th>Screen name</th>
							<th>Value</th>
							<th>Positivness</th></tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			}
			</div>
		</div>
	<p></p>
	<div id="map-canvas" data-id="@matchEvent.id"></div>
	<div id="options">
		<h2>Options</h2>
		<form id="details-options">
			<div class="option">
				<input type="checkbox" value="heatmap" id="heatmap" />
				<label for="heatmap">HeatMap</label>
			</div>
			<div class="option">
				<input type="checkbox" value="clustermap" id="clustermap" />
				<label for="clustermap">ClusterMap</label>
			</div>
		</form>
	</div>
	}
