@(team: Team, matches: List[Match])

@main(team.toString) {

	<div class="container">

		<table id="matches" class="table table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Home</th>
					<th>Away</th>
					<th>Result</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			@for(matchEvent <- matches) {
				<tr data-id="@matchEvent.id" data-date="@matchEvent.startDate">
					<td>@matchEvent.startDate.format("yyyy-MM-dd HH:mm")</td>
					<td>@String.format("%,d", matchEvent.tweetsNumber)</td>
					<td>@matchEvent.homeTeam</td>
					<td>@matchEvent.awayTeam</td>
					<td>@matchEvent.info.substring(39, 90)</td>
					<td><a href="@routes.Application.details(matchEvent.id)">details</a></td>
				</tr>
			}
			</tbody>
		</table>
		<div id="in_degrees_chart" class="chart"></div>
<pre>
inDegree
	Liczba uzytkownikow, ktora tweetowala do danego wezla
	How many nodes tweeted to this node
weightedInDegree
	Ile tweetow zostalo wyslanych do tego wezla
	How many tweets was posted to this node
</pre>
		<div id="out_degrees_chart" class="chart"></div>
<pre>
outDegree
	Liczba uzytkownikow, do ktorych tweetowal dany wezel
	To how many nodes this node tweeted
weightedOutDegree
	Ile tweetow zostalo wyslanych przez ten wezel
	How many tweets was posted by this node
</pre>
		<div id="distances_chart" class="chart"></div>
<pre>
betweenness
	Jak czesto wezel pojawia sie w najkrotszych sciezkach sieci
	How often a node appears on shortest path of network
closeness
	Srednia odleglosc wezla do innych wezlow w sieci
	Average distance from a given starting node to all other nodes in the network
eccentricity
	Odleglosc wezla od najdalszego mu wezla w sieci
	Distance from a given starting node to the farthest node from it in the network
</pre>


		<div id="neighborhood_chart" class="chart"></div>
<pre>
clustering
	Wskazuje jak bardzo wezly sa powiazane w swym sasiedztwie
	Indicates how nodes are embedded in their neighborhood
eigenvector
	Miara waznosci wezla w sieci oparta na jego polaczeniach
	A measure of node importance in a network based on a node's connections
</pre>
		<div id="authority_chart" class="chart"></div>

<pre>
authority
	Jak cenna informacja jest przechowywana w danym wezle
	How valuable information stored at that node is
hub
	Mierzy jakosc polaczen wezla
	Measure the quality of the nodes link
</pre>


	</div>

}
