*~

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Credentials
twitter-crawler/src/main/resources/twitter4j.properties

# Logs
twitter-crawler/*.log

gephi-toolkit/
twitter-crawler/topTeams.txt

