/architektura.aux
/eksperymenty.aux
/koncepcjaRozwiazania.aux
/praca.aux
/praca.bbl
/praca.blg
/praca.lof
/praca.log
/praca.lot
/praca.out
/praca.toc
/przegladBadan.aux
/streszczenie.aux
/wstep.aux
/zakonczenie.aux
