body {
  margin-top: 50px;
}

.center {
  text-align: center !important;
}

.right {
  text-align: right !important;
}

.navbar-fixed-top {
  z-index: 1;
}

#searchInput {
  width: 100%;
}

#map-canvas {
  height: 700px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: -1;
}

.gm-style-iw {
  font-family: Arial;
}