body {
  margin-top: 40px;
}

.center {
  text-align: center !important;
}

.right {
  text-align: right !important;
}

.navbar-fixed-top {
  z-index: 1;
}

.pending {
  background: url('/assets/images/loading.gif') no-repeat right 10px top 10px;
}

.disabled {
  opacity: 0.5;
}

.table-scroll {
  display: block;
  height: 400px;
  overflow-y: scroll;
}

#searchInput {
  width: 100%;
}

#map-canvas {
  height: 500px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.gm-style-iw {
  font-family: Arial;
}

#details-options .option{
  padding-right: 15px;
  display: table-cell;
}

#details-options .option input {
  margin-right: 5px;
}

#details-options .option * {
  float: left;
}

.percentageBg {
  background-image: url('/assets/images/green.png');
  background-size: 0;
  background-repeat: no-repeat;
}